[data-md-color-scheme="odam-light"] {
    --md-primary-fg-color: #020100;
    --md-primary-bg-color: #FCC420;

    /* buttons, primary */
    --md-accent-fg-color: #FCC420;
    
    /* a tag */
    /* --md-typeset-a-color: #FCC420; */
}

.quote-indent {
    text-indent: 50px;
}
